body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.weather {
    place-self: center;
    padding: 40px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: center;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar input:focus {
    box-shadow: 0 3px 15px rgba(0, 255, 255, 0.5);
    background: #dffaf6;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.search-bar img:hover {
    transform: scale(1.1);
    background: #dffaf6;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    font-size: 80px;
    color: #fff;
    line-height: 1;
}

.location {
    font-size: 80px;
    color: #fff;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;
}

.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}